{{define "artwork_form"}}

<div class="form-table mb-4 text-center">
    <p class="form-label lead">
        The artwork
    </p>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="artwork-value" value="1" id="artwork-1" required>
        <label class="form-check-label" for="artwork-1">
            1 <span class="hint">Just regular</span>
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="artwork-value" value="2" id="artwork-2">
        <label class="form-check-label" for="artwork-2">
            2
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="artwork-value" value="3" id="artwork-3">
        <label class="form-check-label" for="artwork-3">
            3
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="artwork-value" value="4" id="artwork-4">
        <label class="form-check-label" for="artwork-4">
            4
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="artwork-value" value="5" id="artwork-5">
        <label class="form-check-label" for="artwork-5">
            5 <span class="hint">Great and interesting to solve</span>
        </label>
    </div>
</div>

{{end}}