{{define "main"}}
    <div class="row wrapper">
        <div class="col-lg-8 mx-auto my-4 text-center">
            <h2>Tow Festival hints</h2>
            <div class="col-lg mx-auto text-center">
                <p class="my-4">You can use hints below if you are stuck.</p>
                <p>
                    PLEASE NOTE: the <span style="color:red;">hints below are NOT cyphered</span>, so make sure you expand the one that you need in order not to spoil the other clues 😉
                </p>
            </div>
        </div>
        <div class="col-lg-8 mx-auto my-4 text-center">
            <h5>Square</h5>
        </div>
        <div class="col-lg-8 mx-auto mb-4">
            <div class="accordion accordion-flush" id="square-hints">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="square-hint-1-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#square-hint-1-text" aria-expanded="false" aria-controls="square-hint-1-text">
                            Tip #1
                        </button>
                    </h2>
                    <div id="square-hint-1-text" class="accordion-collapse collapse" aria-labelledby="square-hint-1-heading" data-bs-parent="#square-hints">
                        <div class="accordion-body">
                            In the jigsaw, the houses are scattered. Consider them according to the numbering: from the first to the seventh.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="square-hint-2-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#square-hint-2-text" aria-expanded="false" aria-controls="square-hint-2-text">
                            Tip #2
                        </button>
                    </h2>
                    <div id="square-hint-2-text" class="accordion-collapse collapse" aria-labelledby="square-hint-2-heading" data-bs-parent="#square-hints">
                        <div class="accordion-body">
                            All houses are multi-colored.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="square-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#square-hint-3-text" aria-expanded="false" aria-controls="square-hint-3-text">
                            Tip #3
                        </button>
                    </h2>
                    <div id="square-hint-3-text" class="accordion-collapse collapse" aria-labelledby="square-hint-3-heading" data-bs-parent="#square-hints">
                        <div class="accordion-body">
                            The first house is red, the second is orange, the third is yellow, the fourth is green, the fifth is blue, the sixth is indigo, the seventh is violet. What is the name of the area?
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="square-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#square-hint-4-text" aria-expanded="false" aria-controls="square-hint-4-text">
                            Tip #4
                        </button>
                    </h2>
                    <div id="square-hint-4-text" class="accordion-collapse collapse" aria-labelledby="square-hint-4-heading" data-bs-parent="#square-hints">
                        <div class="accordion-body">
                            The answer is RAINBOW.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mx-auto my-4 text-center">
            <h5>Baloons</h5>
        </div>
        <div class="col-lg-8 mx-auto mb-4">
            <div class="accordion accordion-flush" id="balloons-hints">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="balloons-hint-1-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#balloons-hint-1-text" aria-expanded="false" aria-controls="balloons-hint-1-text">
                            Tip #1
                        </button>
                    </h2>
                    <div id="balloons-hint-1-text" class="accordion-collapse collapse" aria-labelledby="balloons-hint-1-heading" data-bs-parent="#balloons-hints">
                        <div class="accordion-body">
                            Each of the three large balloons has a piece of "ornament".
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="balloons-hint-2-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#balloons-hint-2-text" aria-expanded="false" aria-controls="balloons-hint-2-text">
                            Tip #2
                        </button>
                    </h2>
                    <div id="balloons-hint-2-text" class="accordion-collapse collapse" aria-labelledby="balloons-hint-2-heading" data-bs-parent="#squre-hints">
                        <div class="accordion-body">
                            Connect the lines of the "ornament" according to the height of the balloons.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="balloons-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#balloons-hint-3-text" aria-expanded="false" aria-controls="balloons-hint-3-text">
                            Tip #3
                        </button>
                    </h2>
                    <div id="balloons-hint-3-text" class="accordion-collapse collapse" aria-labelledby="balloons-hint-3-heading" data-bs-parent="#balloons-hints">
                        <div class="accordion-body">
                            The word is written on the balloons, divided into 3 parts. By connecting the lines from the top ball to the middle and bottom, you get the word.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="balloons-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#balloons-hint-4-text" aria-expanded="false" aria-controls="balloons-hint-4-text">
                            Tip #4
                        </button>
                    </h2>
                    <div id="balloons-hint-4-text" class="accordion-collapse collapse" aria-labelledby="balloons-hint-4-heading" data-bs-parent="#balloons-hints">
                        <div class="accordion-body">
                            The answer is CLOUD.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mx-auto my-4 text-center">
            <h5>Excursion</h5>
        </div>
        <div class="col-lg-8 mx-auto mb-4">
            <div class="accordion accordion-flush" id="excursion-hints">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="excursion-hint-1-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#excursion-hint-1-text" aria-expanded="false" aria-controls="excursion-hint-1-text">
                            Tip #1
                        </button>
                    </h2>
                    <div id="excursion-hint-1-text" class="accordion-collapse collapse" aria-labelledby="excursion-hint-1-heading" data-bs-parent="#excursion-hints">
                        <div class="accordion-body">
                            Find all the hidden figures in the jigsaw.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="excursion-hint-2-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#excursion-hint-2-text" aria-expanded="false" aria-controls="excursion-hint-2-text">
                            Tip #2
                        </button>
                    </h2>
                    <div id="excursion-hint-2-text" class="accordion-collapse collapse" aria-labelledby="excursion-hint-2-heading" data-bs-parent="#squre-hints">
                        <div class="accordion-body">
                            Mentally (or on paper) connect the figures in the sequence indicated in the task.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="excursion-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#excursion-hint-3-text" aria-expanded="false" aria-controls="excursion-hint-3-text">
                            Tip #3
                        </button>
                    </h2>
                    <div id="excursion-hint-3-text" class="accordion-collapse collapse" aria-labelledby="excursion-hint-3-heading" data-bs-parent="#excursion-hints">
                        <div class="accordion-body">
                            Connected dots form a boat figure. Find the boat on the jigsaw.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="excursion-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#excursion-hint-4-text" aria-expanded="false" aria-controls="excursion-hint-4-text">
                            Tip #4
                        </button>
                    </h2>
                    <div id="excursion-hint-4-text" class="accordion-collapse collapse" aria-labelledby="excursion-hint-4-heading" data-bs-parent="#excursion-hints">
                        <div class="accordion-body">
                            The answer is NEPTUNE.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mx-auto my-4 text-center">
            <h5>Souvenir products</h5>
        </div>
        <div class="col-lg-8 mx-auto mb-4">
            <div class="accordion accordion-flush" id="souvenirs-hints">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="souvenirs-hint-1-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#souvenirs-hint-1-text" aria-expanded="false" aria-controls="souvenirs-hint-1-text">
                            Tip #1
                        </button>
                    </h2>
                    <div id="souvenirs-hint-1-text" class="accordion-collapse collapse" aria-labelledby="souvenirs-hint-1-heading" data-bs-parent="#souvenirs-hints">
                        <div class="accordion-body">
                            On the jigsaw find people with flags, balloons, in caps, T-shirts, with umbrellas.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="souvenirs-hint-2-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#souvenirs-hint-2-text" aria-expanded="false" aria-controls="souvenirs-hint-2-text">
                            Tip #2
                        </button>
                    </h2>
                    <div id="souvenirs-hint-2-text" class="accordion-collapse collapse" aria-labelledby="souvenirs-hint-2-heading" data-bs-parent="#squre-hints">
                        <div class="accordion-body">
                            Write down the letters on each type of object (on flags, on balloons, etc.) and make 5 words out of them. 
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="souvenirs-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#souvenirs-hint-3-text" aria-expanded="false" aria-controls="souvenirs-hint-3-text">
                            Tip #3
                        </button>
                    </h2>
                    <div id="souvenirs-hint-3-text" class="accordion-collapse collapse" aria-labelledby="souvenirs-hint-3-heading" data-bs-parent="#souvenirs-hints">
                        <div class="accordion-body">
                            EXHIBITION, PAINTING, HISTORY, GUIDE, ART - identify the common for these words and name the town institution that distributes souvenirs.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="souvenirs-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#souvenirs-hint-4-text" aria-expanded="false" aria-controls="souvenirs-hint-4-text">
                            Tip #4
                        </button>
                    </h2>
                    <div id="souvenirs-hint-4-text" class="accordion-collapse collapse" aria-labelledby="souvenirs-hint-4-heading" data-bs-parent="#souvenirs-hints">
                        <div class="accordion-body">
                            The answer is MUSEUM.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mx-auto my-4 text-center">
            <h5>Ticket</h5>
        </div>
        <div class="col-lg-8 mx-auto mb-4">
            <div class="accordion accordion-flush" id="ticket-hints">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="ticket-hint-1-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ticket-hint-1-text" aria-expanded="false" aria-controls="ticket-hint-1-text">
                            Tip #1
                        </button>
                    </h2>
                    <div id="ticket-hint-1-text" class="accordion-collapse collapse" aria-labelledby="ticket-hint-1-heading" data-bs-parent="#ticket-hints">
                        <div class="accordion-body">
                            The shape of the wooden ticket exactly matches the four objects on the jigsaw.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="ticket-hint-2-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ticket-hint-2-text" aria-expanded="false" aria-controls="ticket-hint-2-text">
                            Tip #2
                        </button>
                    </h2>
                    <div id="ticket-hint-2-text" class="accordion-collapse collapse" aria-labelledby="ticket-hint-2-heading" data-bs-parent="#squre-hints">
                        <div class="accordion-body">
                            Attach the ticket to 4 suitable objects and see which symbol is visible in the hole.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="ticket-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ticket-hint-3-text" aria-expanded="false" aria-controls="ticket-hint-3-text">
                            Tip #3
                        </button>
                    </h2>
                    <div id="ticket-hint-3-text" class="accordion-collapse collapse" aria-labelledby="ticket-hint-3-heading" data-bs-parent="#ticket-hints">
                        <div class="accordion-body">
                            Attach a wooden ticket to the poster so that one arrow points to the received character, then the second one points to the required letter. Put together the 4-letter password.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="ticket-hint-3-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ticket-hint-4-text" aria-expanded="false" aria-controls="ticket-hint-4-text">
                            Tip #4
                        </button>
                    </h2>
                    <div id="ticket-hint-4-text" class="accordion-collapse collapse" aria-labelledby="ticket-hint-4-heading" data-bs-parent="#ticket-hints">
                        <div class="accordion-body">
                            The answer is VIEW.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mx-auto my-4 text-center">
            <p class="lead mb-4">
                Thank you! &#129303;
            </p>
        </div>
    </div>
{{end}}