{{ define "main" }}
    <div class="row wrapper header">
        <div class="col p-2">
        <div style="width: 100%;">
            <p class="h1 mb-4 mt-4 text-center">
                Congratulations
            </p>
            <div class="col-lg-6 mx-auto text-center">
                <p class="h4 mb-4">
                    You have successfully completed the quest. 
                    Phoenix is the new monument of our town as a symbol of its rebirth from the ashes!
                </p>
            </div>
        </div>
            <img class="task-img mb-4 rounded" src="/images/phoenix.webp" />
            <div class="col-lg-6 mx-auto text-center">
                <p class="lead mb-4">
                    This is our very first exclusively designed and self-produced puzzle. We really hope that you enjoyed time solving it &#128526;
                </p>
            </div>
            <div class="col-lg-6 mx-auto mb-4">
                <p class="h4 mb-4 text-center">
                    Please let us know your thoughts about TOWN FESTIVAL jigsaw and quest
                </p>

                <div class="position-relative" style="height: 100%;">
                    <form id="feedback-form" onsubmit="onSubmit(event)" class="needs-validation" novalidate>
                        {{template "quality_form"}}

                        {{template "artwork_form"}}

                        {{template "quest_form"}}

                        {{template "overall_form"}}

                        <div class="mb-4">
                            <label for="reason-to-buy" class="form-label">What was your reason to order Town Festival jigsaw?</label>
                            <textarea class="form-control" id="reason-to-buy" rows="2"></textarea>
                        </div>

                        <div class="mb-4">
                            <label for="optional" class="form-label">Anything else you'd like to tell us &#128522;</label>
                            <textarea class="form-control" id="optional" rows="2"></textarea>
                        </div>

                        <div class="mb-4 d-flex justify-content-center">
                            <button class="btn btn-primary" onClick="onSubmit">Submit</button>
                        </div>
                    </form>
                    <div id="feedback-thank-you" class="d-none justify-content-center align-items-center flex-column position-absolute" style="height: 100%; top: 0; left: 0; width: 100%">
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" fill="#B3D138" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg></div>
                        <div><p style="font-size: 14pt;">Thank you for your feedback!</p></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mx-auto mb-4 text-center">
                <p class="lead mb-4">
                    Of course we appreciate sharing your experience on social media (just don't forget to mention our account @mystic_case on Instagram or @mysticcase.fb on Facebook) or giving recommendations on our <a href="https://www.facebook.com/mysticcase.fb" target="_blank">Facebook page</a>
                </p>
                <p class="lead mb-4">
                    Thank you! &#129303;
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 mx-auto mb-4 text-center">
                    <button class="btn btn-primary">
                        Learn more about other mystic case products
                    </button>
                </div>
            </div>


        </div>
    </div>

{{ end }}