{{define "overall_form"}}

<div class="form-table mb-4 text-center">
    <p class="form-label lead">
        Overall impression
    </p>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="overall-value" value="1" id="overall-1" required>
        <label class="form-check-label" for="overall-1">
            1 <span class="hint">Just fine</span>
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="overall-value" value="2" id="overall-2">
        <label class="form-check-label" for="overall-2">
            2
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="overall-value" value="3" id="overall-3">
        <label class="form-check-label" for="overall-3">
            3
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="overall-value" value="4" id="overall-4">
        <label class="form-check-label" for="overall-4">
            4
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="overall-value" value="5" id="overall-5">
        <label class="form-check-label" for="overall-5">
            5 <span class="hint">Amazing</span>
        </label>
    </div>
</div>

{{end}}