{{define "quality_form"}}

<div class="form-table mb-4 text-center">
    <p class="form-label lead">
        The jigsaw quality
    </p>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="quality-value" value="1" id="quality-1">
        <label class="form-check-label" for="quality-1">
            1 <span class="hint">Poor</span>
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="quality-value" value="2" id="quality-2">
        <label class="form-check-label" for="quality-2">
            2
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="quality-value" value="3" id="quality-3">
        <label class="form-check-label" for="quality-3">
            3
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="quality-value" value="4" id="quality-4">
        <label class="form-check-label" for="quality-4">
            4
        </label>
    </div>
    <div class="form-check d-flex flex-column align-items-center ps-0">
        <input class="form-check-input ms-0" type="radio" name="quality-value" value="5" id="quality-5">
        <label class="form-check-label" for="quality-5">
            5 <span class="hint">Excellent</span>
        </label>
    </div>
</div>

{{end}}